hydra-core
omegaconf
wandb
weave
torch
torchvision
transformers
datasets
trl
unsloth
huggingface_hub
tqdm
einops
Pillow
sentencepiece
protobuf
python-dotenv
peft
lm-eval
bitsandbytes
accelerate
pytest
ruff
einops
numpy
requests
tokenizers
